
footer div {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
footer a {
  padding: 0 1rem;
}
footer a svg {
  height: 5rem;
  width: 2rem;
}


@media (min-width:799px) {
  footer a svg {
    height: 10rem;
    width: 3rem;
  }
}